{% doc %}
  ResRequest Property Headline

  Displays basic property information for ResRequest-synchronized properties.

  @param {product} product - The property product (required)

  @example
  {% render 'resrequest-property-headline', product: product %}
{% enddoc %}

{% liquid
  assign property_data = product.metafields.resrequest.related_metaobjects.value
  assign property_metaobject = null
  
  if property_data and property_data.size > 0
    for item in property_data
      if item.type == 'resrequest_property'
        assign property_metaobject = item
        break
      endif
    endfor
  endif
  
  assign currency = null
  if property_metaobject
    assign currency = property_metaobject.currency
  endif
%}

<div class="resrequest-property-headline">
  {% if currency and currency != blank %}
    <div class="resrequest-property-headline__detail">
      <span class="resrequest-property-headline__label">Currency</span>
      <span class="resrequest-property-headline__value">{{ currency }}</span>
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .resrequest-property-headline {
    margin-block-start: 0;
    margin-block-end: var(--spacing-lg, 32px);
    padding: 0 24px;
  }
  
  .resrequest-property-headline__detail {
    display: flex;
    gap: var(--spacing-xs, 8px);
    font-size: var(--font-size-sm, 0.875rem);
    line-height: 1.6;
  }
  
  .resrequest-property-headline__label {
    color: #999;
    min-width: 80px;
  }
  
  .resrequest-property-headline__value {
    color: #333;
  }
{% endstylesheet %}
