{% comment %} activity-cta.liquid {% endcomment %}
<section class="m-activity-cta" data-section-id="{{ section.id }}">
  <div class="page-width">
    <button class="m-activity-cta__btn" data-action="add-to-trip">Add to trip</button>
  </div>
</section>
{% schema %}{ "name": "Activity CTA", "class": "section-activity-cta", "settings": [], "presets": [{ "name": "Activity CTA" }] }{% endschema %}
