{% comment %} city-regions.liquid {% endcomment %}
<section class="m-city-regions" data-section-id="{{ section.id }}">
  <div class="page-width">
    <h2 class="m-city-regions__title">Areas</h2>
    <div class="m-city-regions__grid" data-regions-container>
      <div class="m-city-regions__loading">Loading areas...</div>
    </div>
  </div>
</section>
{% schema %}{ "name": "City Regions", "class": "section-city-regions", "settings": [], "presets": [{ "name": "City Regions" }] }{% endschema %}
