{% comment %} region-hero.liquid {% endcomment %}
{% assign hero = metaobject.hero_photo.value %}
<section class="m-region-hero" data-section-id="{{ section.id }}">
  {% if hero != blank %}
    <img
      src="{% render 'cf-image-url', url: hero, width: 800 %}"
      srcset="{% render 'cf-image-srcset', url: hero, widths: '400,800,1200,1600' %}"
      sizes="100vw"
      alt="{{ metaobject.name.value | escape }}"
      loading="eager"
      width="1600"
      height="900"
      class="m-region-hero__img"
    >
  {% else %}
    <div class="m-region-hero__fallback">{{ metaobject.name.value | escape }}</div>
  {% endif %}
</section>
{% schema %}{ "name": "Region Hero", "class": "section-region-hero", "settings": [], "presets": [{ "name": "Region Hero" }] }{% endschema %}
